.body {
    -webkit-animation-duration: 10s;
    -webkit-animation-name: textAni;
}

.chu {
    text-align: center;
    color: red;
    padding-top: 23%;
    animation: colours linear 10s infinite;
}

@-webkit-keyframes textAni {
    from {
        color: red;
        /* font-size: 100%; */
    }
    to {
        color: rgb(135, 245, 135);
        /* font-size: 125%; */
    }
}



@keyframes colours {
    0% {color: #39f;}
   15% {color: #8bc5d1;}
   30% {color: #f8cb4a;}
   45% {color: #95b850;}
   60% {color: #944893;}
   75% {color: #c71f00;}
   90% {color: #bdb280;}
  100% {color: #39f;}
}