html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* Dùng đơn vị Rem: 1rem= 10px */
    font-family: "Teko", "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeSpeed; /* Tối ưu tối độ hiển thị chữ */
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #fff;
}

/* Commons */
body,
.header {
    width: 100%;
    background: var(--web-color);
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1200px;
    margin: 0 auto;
    max-width: calc(100% - 120px);
} /* size web*/
.break-all {
    word-break: break-all;
}
a {
    text-decoration: none;
    color: var(--line-color);
}
a:hover {
    color: #fff;
}

:root {
    --web-color: #6e6c6c;
    --height-navbar: 40px;
    --line-color: rgba(255, 255, 255, 0.75);
    --color-hover: #708ad4;
}
.flex-line {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.6rem;
}

.status-icon {
    color: #fff;
    width: 24px;
    height: 24px;
}
.section-heading {
    display: flex;
    font-size: 4rem;
    font-family: "teko", sans-serif;
    line-height: 1.2;
    cursor: pointer;
}
.section-heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    bottom: 10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.section-heading:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.heading-desc {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    margin: 0 8px;
    line-height: 1.2;
}
/* Header */
.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 999;
}
.header {
    height: var(--height-navbar);
    padding-top: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar-item a {
    padding: 6px 24px;
    background: var(--color-hover);
    border-radius: 50px;
    font-size: 1.8rem;
    transition: 0.5s;
}

.navbar-item:hover a {
    background: #d0368a;
}

/* Body */
.about {
    margin-top: calc(var(--height-navbar) + 60px);
    height: 500px;
}
.about-main {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.name {
    position: absolute;
    top: -50px;
}
.name h1 {
    background: -webkit-linear-gradient(#ccc, #3586d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden; /* Ẩn nội dung cho đến khi animation bắt đầu */
    border-right: 0.15em solid #708ad4; /* Tạo con trỏ gõ chữ */
    white-space: nowrap; /* Giữ nội dung trên một dòng */
    margin: 0 auto; /* Tạo hiệu ứng cuộn khi gõ chữ */
    letter-spacing: 0.1em; /* Điều chỉnh khoảng cách giữa các chữ */
    animation: typing 10s steps(60, end) infinite,
        blink-caret 0.8s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    40% {
        width: 100%;
    }
    99.99% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color-hover);
    }
}
.status {
    margin-bottom: 22px;
    font-weight: 700;
}
.status span {
    color: var(--color-hover);
}
.location {
    width: 24px;
    height: 24px;
    color: #f33;
}
.star-icon {
    color: yellow;
}

.flex-line .line-icon {
    width: 18px;
    height: 18px;
    opacity: 0.1;
    transition: 0.3s;
}
.flex-line:hover .line-icon {
    opacity: 1;
}
.label-time {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.label-time p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
    font-size: 3rem;
    color: var(--color-hover);
    transition: 0.3s;
}
.label-time:hover p {
    color: #fff;
    word-spacing: 1rem;
}
.date-time {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 3rem;
    background: rgb(34 34 34 / 0.25);
    padding: 30px 0;
    border-radius: 12px;
}

.time:hover,
.date:hover {
    color: var(--color-hover);
}

.time-sleep img {
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}
/* Music */

.music {
    margin-top: 50px;
    position: relative;
}
.music .section-heading {
    position: absolute;
    top: 30px;
}
.section-heading:hover .icon-heading {
    color: #fff;
}
.section-heading .icon-heading {
    margin-right: 12px;
}
.music-img img {
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.search-form {
    width: 450px;

    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.search-form__input {
    width: 100%;
    padding: 12px;
    margin-right: 30px;
}
.search-form__input,
.search-form__btn,
.search-form__clear {
    background: transparent;
    outline: none;
    border: none;
}

.search-form__input:not(:placeholder-shown) ~ .search-form__clear {
    display: block;
}
.search-icon {
    width: 24px;
    height: 24px;
}
.del-icon {
    width: 18px;
    height: 18px;
}
.search-form__btn {
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
    margin: 2px 6px 0;
}
.search-form__btn:hover {
    color: #000;
}
.search-form__clear {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    color: #f33;
    display: none;
}
